<div class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center flex-container no-pad">
                  <div class="logo">
                    <a href="#" title="Kiip iN ToucH"><img src="../assets/img/Kiip_iN_logo.png"></a>
                  </div>
                  <div class="login-border">
                    <form class="login-section animated" id="animationSandbox">
                      <!-- STEP 2 SIGN IN -->
                      <div class="login-form row" id="step-1"> 
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5 signup-content"> 
                          <h2>Start engaging with your visitors today</h2>
                          <p>It’s free</p>
                        </div>  
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7 signup-form"> 
                            <div class="form-group text-left">
                              <p class="signup-title">Sign In or <a href="sign-up-2.html">Sign Up</a></p>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 user-input">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
                                  <span class="focus_sprint"></span>
                                  <span class="error" style="display: none;">Please enter correct email address</span>
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control pad_remove" id="inputEmail3" placeholder="Last Name">
                                  <span class="error" style="display: none;">Please enter correct email address</span>
                              </div>
                            </div>
                            <div class="form-group row email-input">
                              <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputPassword3" placeholder="Email address">
                                <span class="focus_sprint"></span>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 password-input">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                <span class="focus_sprint"></span>
                              </div>

                              <div class="col-sm-6">
                                <input type="password" class="form-control pad_remove" id="inputPassword3" placeholder="Confirm Password">
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="checkbox checkbox-info col-sm-12">
                                  <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" />
                                  <label for="checkbox-1-1"></label>
                                  <label for="checkbox-1-1"><span>I agree all statements in</span> <a href="#"> terms of services</a></label>
                              </div>
                            </div>
                            <div class="form-group no_height">
                              <a routerLink="../dashboard"  class="btn btn-primary login-btn">
                              Create account</a>
                              <small>No credit card required</small>
                            </div>
                        </div>
                      </div>  

                    </form> <!-- // Form End // -->

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>