<app-header></app-header>
<section class="mobile-p-15 dashboard-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="setting-page">
          <h4 class="text-center">SETTINGS</h4>
          <div class="form-group tab-list">
            <ul class="list-inline first-row">
              <li>KiipBox audience reports</li>
              <li class="active">
                <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked="">
                <label for="radio-1-1"><span>Daily</span></label>
              </li>
              <li>
                <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio">
                <label for="radio-1-2"><span>Weekly</span></label>
              </li>
              <li>
                <input type="radio" id="radio-1-3" name="radio-1-set" class="regular-radio">
                <label for="radio-1-3"><span>Monthly</span></label>
              </li>
            </ul>
            <ul class="list-inline third-row">
              <li>Marketing email</li>
              <li>
                <label class="switch">
                  <input type="checkbox" checked="">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
            <ul class="list-inline third-row">
              <li>Notification</li>
              <li>
                <label class="switch">
                  <input type="checkbox" checked="">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
            <ul class="list-inline third-row status_list">
              <li>Language</li>
              <li>
                <select class="form-control custome_select2">
                  <option>English</option>
                  <option>Spanish</option>
                  <option>Portuguese</option>
                </select>
              </li>
            </ul>
          </div>
          <div class="form-group row update-form">
            <button class="btn btn-default create_btn">Update</button><!-- 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Change Password
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>