@media print {
	.myContainer {
	    display: flex;
	    flex-direction: column;
	    height: 100%;
	    overflow: auto;
	    background-size: 100%;
	    padding: 0;
	    max-width: none !important;
	}
	.myContainer .banner{
	    display: flex;
	    flex-direction: column;
	    overflow: hidden;
	    width: 100%;
	    position: relative;
	}
	.myContainer .banner > img {
	    width: 100%
	}
	.logo_template {
	    text-align: center;
	    width: 100%;
	    display: flex;
	    height: auto;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    top: -500px;
	    z-index: 10;
	    background-color: transparent !important;
	}
	.logo_template > img {
	    width: 250px;
	    height: 250px;
	    position: absolute;
	    z-index: 1;
	    top: 0
	}
	.content {
	    text-align: center;
	    margin: 55px auto;
	    max-width: 600px;
	    /*color: #000;*/
	}
	.template_footer ul > li {
	    display: inline-block;
	}
	.template_footer ul {
	    text-align: center;
	    margin: 0;
	    padding-left: 0
	}
	.template_footer ul > li > a {
	    color: #777;
	}
	.template_footer ul > li {
	    color: #777
	}
	.template_footer ul > li > a img {
	    max-width: 120px;
	    margin: 0 10px;
	}
	.logo_template:after {
	    background: rgba(0,0,0,0.4);
	    content: "";
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}
	.template_footer {
	    padding: 15px 0;
	    border-top: 1px solid #ccc;
	    display: flex;
	    flex-direction: row;
	    align-items: flex-end;
	    text-align: center;
	    width: 100%;
	    justify-content: center;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    left: 0;
	    right: 0;
	}
	.content h4 {
	    margin-bottom: 25px;
	}
	.content p.text-left {
	    margin-bottom: 30px;
	}
	a.btn.btn-default.shop_btn {
	    border-radius: 40px;
	    padding: 12px 70px;
	    color: #fff !important;
	    background-color: #7030a0 !important;
	    font-size: 28px;
	    /*height: 55px;*/
	    display: inline-block;
	    width: 100%;
	}
	/*.content a{
	    color: #777
	}*/
	.content h2 {
	    margin-bottom: 30px;
	    font-size: 50px;
	    color: #000
	}
	.content p {
	    margin-bottom: 30px;
	    font-size: 28px;
	    color: #000
	}
	.print-formate{
		padding: 0;
	}
	@page{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding:0px;
	}
	
}
