<app-header></app-header>
<section class="mobile-p-15 dashboard-pad">
  <div class="container">
    <div class="row refer_section">
      <div class="col-12 col-sm-7 col-md-7 col-lg-7">
        <div class="refer_friend">
          <h1>Invite new pros <br>and help us improve <br>the service</h1>
          <p>Share the good news with your friend and family ! Kiip In Touch can be used for free and help people better do their job. Share the good news :)</p>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-5 col-lg-5">
        <div class="refer_img">
          <img src="../../assets/img/refer_friend.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row send_invitation">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <form class="refer_form">
          <div class="form-group row">
            <label class="control-label col-sm-12" for="send-invities">Send invites</label>
            <div class="col-12 col-sm-12">
              <div class="d-flex alin-item-center justify-content-between">
                <input type="email" name="" id="send-invities" placeholder="Enter email address" class="form-control" autofocus="">
                <button type="submit" class="btn btn-default btn_green">Send</button>
              </div>
            </div>
          </div>
        </form>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-pad">
          <span class="line_bar">OR</span>
        </div>
        <div class="row">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <div class="social-box text-center">
              <a href="#">
                <img src="../../assets/img/copy.png">
                <span>Copy invite link</span>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <div class="social-box text-center">
              <a href="#">
                <img src="../../assets/img/facebook.png">
                <span>Share on Facebook</span>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <div class="social-box text-center">
              <a href="#">
                <img src="../../assets/img/twitter.png">
                <span>Share on Twitter</span>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <div class="social-box text-center">
              <a href="#">
                <img src="../../assets/img/whatsapp.png">
                <span>Share on WhatsApp</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>