<app-header></app-header>
<section class="mobile-p-15 dashboard-pad payment_page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="text-center">INVOICES</h4>
      </div>  
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>Overview</p>
          </div>
          <div class="kiip-box-foot">   
            <ul class="list-inline invoice_list">
              <li><p>Total invoiced is <span>150,00 €</span></p></li>
              <li><p>Last invoice is <span>150,00 €</span></p></li>
              <li><p>Next invoice estimate: <span>150,00 €</span></p></li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p><span>Download invoice</span></p>
            <p class="sub-description">If you'd like to keep an electronic record of your invoice you can download a copy in Adobe PDF format. You can open PDF files using Adobe Reader.</p>
          </div>
          <form class="invoice_form">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-5 col-form-label">End date:</label>
              <div class="col-sm-7">
                <!-- <input type="date" class="form-control custom__date"> -->
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control custom__date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Number of months:</label>
                <div class="col-sm-7">
                  <select class="form-control custom__select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p><span>View an invoice</span></p>
            <!-- <p class="sub-description">If you'd like to keep an electronic record of your invoice you can download a copy in Adobe PDF format. You can open PDF files using Adobe Reader.</p> -->
          </div>
          <form class="invoice_form">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Select date:</label>
              <div class="col-sm-5">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control custom__date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
              </div>
              <div class="col-sm-3 no-pad">
                <button type="submit" class="btn btn-default display-btn">Display</button>
              </div>
            </div>
            <div class="table-responsive invoice_table">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2" class="first-td-row">Invoice #2248256-2017-03-30-10:</td>
                  </tr>
                  <tr>
                    <td><span class="bold_text">Invoice Number:</span></td>
                    <td>2248256-2017-03-30-10</td>
                  </tr>
                  <tr>
                    <td><span class="bold_text">Statement Period:</span></td>
                    <td><span class="start_date">2017-03-30</span> - <span class="end_date">2017-03-30</span></td>
                  </tr>
                  <tr>
                    <td><span class="bold_text">Total Amount Due:</span></td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td><span class="bold_text">Username:</span></td>
                    <td>yveyot</td>
                  </tr>
                  <tr>
                    <td><span class="bold_text">Account:</span></td>
                    <td>"Test Account"</td>
                  </tr>
                  <tr>
                    <td class=""><span class="bold_text">Address:</span><button class="btn-default btn address_edit">edit</button></td>
                    <td class="">
                      <address>
                        Yves Yota Tchoffo<br>
                        15 rue richard lenoir<br>
                        Paris, lle-de-France 75011<br>
                        (FR)
                      </address>
                    </td>
                  </tr>
                  <tr>
                    <td class="border_btm"><span class="bold_text">Make Payment To:</span></td>
                    <td class="border_btm">
                      <address>
                        DreamHost<br>
                        PMB #257<br>
                        417 Associated Rd,<br>
                        Brea, CA 92821<br>
                        USA
                      <address>
                    </address></address></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>