<app-header></app-header>
<section class="mobile-p-15 dashboard-pad">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="text-center page-title" style="margin-bottom: 10px">Monitor your activity and metrics</h4>
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>Number of Kiip Box</p>
            <h1>10</h1>
          </div>
          <div class="kiip-box-foot">
            <button class="btn btn-default" type="button" onclick="window.location.href='create_a_kiipbox.html'">Create a Kiip Box</button>
            <a class="btn btn-default" href="my-kiip-box.html">See my Kiip Box</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>Total  audience</p>
            <h1>1000</h1>
          </div>
          <div class="kiip-box-foot">
            <button class="btn btn-default" type="button">Export list</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>Today new audience</p>
            <h1>10</h1>
          </div>
          <span class="budge success">+8%</span>
          <div class="kiip-box-foot">
            <button class="btn btn-default" type="button">Export list</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>This month new audience</p>
            <h1>1000</h1>
          </div>
          <span class="budge danger">+5%</span>
          <div class="kiip-box-foot">
            <p class="btn btn-default">Plan limit: 800</p>
            <button class="btn btn-default" type="button">Export list</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>Memory usage</p>
            <h1>50<span>mo</span></h1>
          </div>
          <span class="budge normal">+25%</span>
          <div class="kiip-box-foot">
            <p class="btn btn-default">Plan limit: 200mo</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-12">
        <div class="kiip-box text-center">
          <div class="kiip-box-body">
            <p>This month new leads</p>
            <h1>1000</h1>
          </div>
          <span class="budge danger">+5%</span>
          <div class="kiip-box-foot">
            <button class="btn btn-default" type="button">Export list</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>