<app-header></app-header>
<section class="mobile-p-15 dashboard-pad">
  <div class="container template-page">    
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="starting-title text-center">Account</h4>
      </div> 
    </div>
    <!-- // Filter // -->
    <div class="row search-height">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <ul id="clothing-nav" class="nav nav-tabs account_page" role="tablist">
  
          <li class="nav-item">
            <a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Personal information</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Business information</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#plan" role="tab" id="plan-tab" data-toggle="tab" aria-controls="plan">Current Plan</a>
          </li>

        </ul>
        <!-- Content Panel -->
        <div id="clothing-nav-content" class="tab-content custom_tab">

          <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
            <form class="account-form" data-toggle="validator" role="form" name="account" novalidate="novalidate">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control">
                </div>
              </div>
              <div class="form-group row validate_msg">
                <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="" data-error="Bruh, that email address is invalid" required="" aria-required="true">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                  <button type="button" class="btn btn-primary change_password_btn" data-toggle="modal" data-target="#exampleModal">Change password</button>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Phone number</label>
                <div class="col-sm-8">
                  <input type="tel" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>

              <!-- // Personal Informaton // -->
              
              <hr class="form_hr">
              <div class="form-group row">
                <h4 class="form_sub_title col-sm-12">Personal address</h4>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Postal Code</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                  <select class="form-control custome_select2">
                    <option></option>
                    <option value="usa">United States</option>
                    <option value="india">India</option>
                    <option value="uk">United Kingdom</option>
                  </select>
                </div>
              </div>

              <!-- // Personal Informaton // -->
              
              <hr class="form_hr">
              <div class="form-group row">
                <h4 class="form_sub_title col-sm-12">Billing address</h4>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Postal Code</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                  <select class="form-control custome_select2">
                    <option></option>
                    <option value="usa">United States</option>
                    <option value="india">India</option>
                    <option value="uk">United Kingdom</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">VAT Number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Invoice Email Address</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12 text-center">
                  <button type="button" class="btn btn-secondary verify_btn plan_btn disable">Update</button>
                  <span class="close-account-text">Close account</span>
                </div>
              </div>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="hats" aria-labelledby="hats-tab">
            <form class="account-form">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Account type</label>
                <div class="col-sm-8">
                  <select class="form-control custom__select">
                    <option>Account type1</option>
                    <option>Account type2</option>
                    <option>Account type3</option>
                    <option>Account type4</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Industry</label>
                <div class="col-sm-8">
                  <select class="form-control custom__select">
                    <option>Industry1</option>
                    <option>Industry2</option>
                    <option>Industry3</option>
                    <option>Industry4</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                  <select class="form-control custom__select">
                    <option>Country1</option>
                    <option>Country2</option>
                    <option>Country3</option>
                    <option>Country4</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Brand name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="">
                </div>
              </div>
              <div class="form-group row file_upload">
                <label for="inputPassword" class="col-sm-4 col-form-label label-logo">Logo</label>
                <div class="col-sm-8">
                  <label class="custome-upload" for="upload">
                    <input type="file" class="form-control" id="upload" placeholder="Full Name">
                    <img src="../../assets/img/upload-icon.png" id="crop_img" width="82" height="82" class="img-circle">
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 text-center">
                  <button type="button" class="btn btn-secondary verify_btn plan_btn disable">Update</button>
                </div>
              </div>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="plan" aria-labelledby="plan-tab">
            <form class="account-form plan_change">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Plan name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="" value="Basic" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Payment type:</label>
                <div class="col-sm-8">
                  <select class="form-control custom__select" disabled="disabled">
                    <option>Daily</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Plan price:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="" value="Based on Monthly / Yearly (include discount rate)" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Plan expire date:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="" value="25 Aug 2019" readonly="readonly">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Payment date:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputPassword" placeholder="" value="1st of each month" readonly="readonly">
                </div>
              </div>
              <div class="form-group row plan_change_btn">
                <div class="col-sm-12 text-center">
                  <a href="plan.html">
                  <button type="button" class="btn btn-secondary verify_btn plan_btn remove_attr">Change plan</button></a>
                </div>
              </div>
            </form>
          </div>

          </div>

        </div>



      </div>
    </div>
    <!-- // Filter End // -->
  
</section>