<app-header></app-header>
<section class="mobile-p-15 dashboard-pad blue_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="fair-price-box text-center">
          <h1>Fair and simple pricing</h1>
          <h4>Pay only if we help you grow your business</h4>

          <button type="button" class="btn btn-default try_free_btn">Try it for free</button>
          <small>No credit card required</small>
          <p class="trial_text">14 days free trial</p>

          <div class="audience_target height_input_box"> 
            <label class="active_label">Monthly</label>
            <label class="switch">
              <input type="checkbox" checked="">
              <span class="slider round"></span>
            </label>
            <label class="active_label">Yearly</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <ul class="plan_list d-flex align-items-center">
          <li>
            <div class="plan_packege left_corner">
              <div class="plan-description">
                <span class="icon occasional-user"></span>
                <h5>OCCASIONAL USER</h5>
                <p><strong>Free</strong> for ever</p>
                <span>10 leads per month</span>
              </div>
              <a href="upgrade_step_1.html">
                <button type="button" class="btn btn-default plan_select">Select this plan</button>
              </a>
            </div>
          </li>
          <li>
            <div class="plan_packege top_corner">
              <span class="icon professional-user"></span>
              <h5>PROFESSIONAL</h5>
              <p><strong>19,80$</strong> per month</p>
              <span>100 leads per month</span>
              <a href="upgrade_step_1.html">
                <button type="button" class="btn btn-default plan_select">Start free trial</button>
              </a>
            </div>
          </li>
          <li>
            <div class="plan_packege left_corner">
              <span class="icon business-user occasional-user"></span>
              <h5>BUSINESS</h5>
              <p><strong>49,60$</strong> per month</p>
              <span>1000 leads per month</span>
              <a href="upgrade_step_1.html">
                <button type="button" class="btn btn-default plan_select">Start free trial</button>
              </a>
            </div>
          </li>
          <li>
            <div class="plan_packege top_corner">
              <span class="icon corporate-user professional-user"></span>
              <h5>CORPORATE</h5>
              <p><strong>199,40$</strong> per month</p>
              <span>10000 leads per month</span>
              <a href="upgrade_step_1.html">
                <button type="button" class="btn btn-default plan_select">Start free trial</button>
              </a>
            </div>
          </li>
          <li>
            <div class="plan_packege top_corner">
              <span class="icon paypreuse-user professional-user"></span>
              <h5>PAY-PER-USE</h5>
              <p><strong>0,50$ </strong> per lead</p>
              <span>Unlmited number of</span>
              <a href="upgrade_step_1.html">
                <button type="button" class="btn btn-default plan_select">Start free trial</button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mobile-p-15 dashboard-pad collect_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="collect_decs text-center">
          <h3>Plan to collect more than 10000 leads a month ?</h3>
          <p>We can find the right pricing strategy for you</p>
          <a href="#" class="btn btn-default btn_green" data-toggle="modal" data-target="#myModal2">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mobile-p-15 dashboard-pad kick_start collect_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <div class="collect_decs text-center">
          <h3>Don’t know where to start to launch your offline lead collection marketing campaign ?</h3>
          <p>We have the right program to help you kickstart your program</p>
        </div>
      </div>
    </div>
    <div class="row kickstart_box">
      <div class="col-12 col-md-12 col-sm-12 col-xl-12 col-lg-12">
        <h2><img src="../../assets/img/kickstart.png">Kickstart your campaign <span><small class="from_text">From</small>1000 $<br><small class="one-off_text">One-off</small></span></h2>
      </div>
      <div class="col-12 col-md-9 col-sm-9 col-xl-9 col-lg-9">
        <div class="flex_wrap">
          <ul class="list-inline">
            <li>Build campaign marketing content</li>
            <li>Design auto</li>
            <li>Design support</li>
          </ul>
          <ul class="list-inline">
            <li>Campaign optimisation</li>
            <li>Onboarding and monthly call</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-12 col-sm-12 col-xl-12 col-lg-12 text-right">
        <a href="#" class="btn btn-default btn_green" data-toggle="modal" data-target="#myModal2">Contact us</a>
      </div>
    </div>
  </div>
</section>
<section class="mobile-p-15 dashboard-pad plan_detail_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="plan_detail_box">
          <h3 class="text-center">Packages comparison</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="plan_detail_box">
          <ul class="list-inline outer_list">
            <li class="">
              <ul class="list-inline inner_list">
                <li><h4>OCCASIONAL USER</h4></li>
                <li data-index="0" class="color_text feature-list">Sign-Up</li>
                <li data-index="1" class="bgcolor_text feature-list">FREE for ever</li>
                <li data-index="2" class="feature-list">0,10$ per lead over plan</li>
                <li data-index="3" class="feature-list">200 Mega octet</li>
                <li data-index="4" class="feature-list">20 leads per month</li>
                <li data-index="5" class="feature-list">Marketing document</li>
                <li data-index="6" class="disable_list feature-list">Marketing document builder</li>
                <li data-index="7" class="feature-list">Export leads</li>
                <li data-index="8" class="feature-list">Export leads</li>
                <li data-index="9" class="disable_hover"><a href="upgrade_step_1.html" class="btn btn-default login-btn">Sign-Up</a></li>
                <li data-index="10" class="disable_list feature-list">Auto-response builder</li>
                <li data-index="11" class="disable_list feature-list">Attach document in auto-response</li>
                <li data-index="12" class="disable_list feature-list">Artificial Intelligence to parse email content</li>
                <li data-index="13" class="disable_list feature-list">Own domain emails</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-inline inner_list">
                <li class=""><h4>PROFESSIONAL</h4></li>
                <li data-index="0" class="color_text feature-list">Start free trial</li>
                <li data-index="1" class="bgcolor_text feature-list">19,80$ per month</li>
                <li data-index="2" class="feature-list">0,10$ per lead over plan</li>
                <li data-index="3" class="feature-list">500 Mega octet</li>
                <li data-index="4" class="feature-list">100 leads per month</li>
                <li data-index="5" class="feature-list">Marketing document</li>
                <li data-index="6" class="disable_list feature-list">Marketing document builder</li>
                <li data-index="7" class="feature-list">Export leads</li>
                <li data-index="8" class="feature-list">Export leads</li>
                <li data-index="9" class="disable_hover"><a href="upgrade_step_1.html" class="btn btn-default login-btn">Start free trial</a></li>
                <li data-index="10" class="disable_list feature-list">Auto-response builder</li>
                <li data-index="11" class="feature-list">Attach document in auto-response</li>
                <li data-index="12" class="disable_list feature-list">Artificial Intelligence to parse email content</li>
                <li data-index="13" class="feature-list">Own domain emails</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-inline inner_list">
                <li class=""><h4>Business</h4></li>
                <li data-index="0" class="color_text feature-list">Start free trial</li>
                <li data-index="1" class="bgcolor_text feature-list">49,60$ per month</li>
                <li data-index="2" class="feature-list">0,10$ per lead over plan</li>
                <li data-index="3" class="feature-list">1 Giga octet</li>
                <li data-index="4" class="feature-list">1000 leads per month</li>
                <li data-index="5" class="feature-list">Marketing document</li>
                <li data-index="6" class="feature-list">Marketing document builder</li>
                <li data-index="7" class="feature-list">Export leads</li>
                <li data-index="8" class="feature-list">Export leads</li>
                <li data-index="9" class="disable_hover"><a href="upgrade_step_1.html" class="btn btn-default login-btn">Start free trial</a></li>
                <li data-index="10" class="feature-list">Auto-response builder</li>
                <li data-index="11" class="feature-list">Attach document in auto-response</li>
                <li data-index="12" class="feature-list">Artificial Intelligence to parse email content</li>
                <li data-index="13" class="feature-list">Own domain emails</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-inline inner_list">
                <li class=""><h4>CORPORATE</h4></li>
                <li data-index="0" class="color_text feature-list">Start free trial</li>
                <li data-index="1" class="bgcolor_text feature-list">199,40$ per month</li>
                <li data-index="2" class="feature-list">0,10$ per lead over plan</li>
                <li data-index="3" class="feature-list">1 Giga octet</li>
                <li data-index="4" class="feature-list">10000 leads per month</li>
                <li data-index="5" class="feature-list">Marketing document</li>
                <li data-index="6" class="feature-list">Marketing document builder</li>
                <li data-index="7" class="feature-list">Export leads</li>
                <li data-index="8" class="feature-list">Export leads</li>
                <li data-index="9" class="disable_hover"><a href="upgrade_step_1.html" class="btn btn-default login-btn">Start free trial</a></li>
                <li data-index="10" class="feature-list">Auto-response builder</li>
                <li data-index="11" class="feature-list">Attach document in auto-response</li>
                <li data-index="12" class="feature-list">Artificial Intelligence to parse email content</li>
                <li data-index="13" class="feature-list">Own domain emails</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-inline inner_list">
                <li class=""><h4>PAY-PER-USE</h4></li>
                <li data-index="0" class="color_text feature-list">Start free trial</li>
                <li data-index="1" class="bgcolor_text feature-list">0,50$ per lead</li>
                <li data-index="2" class="disable_list feature-list">Cost per lead over plan</li>
                <li data-index="3" class="feature-list">10 Giga octet</li>
                <li data-index="4" class="feature-list">Unlimited leads</li>
                <li data-index="5" class="feature-list">Marketing document</li>
                <li data-index="6" class="feature-list">Marketing document builder</li>
                <li data-index="7" class="feature-list">Export leads</li>
                <li data-index="8" class="feature-list">Export leads</li>
                <li data-index="9" class="disable_hover"><a href="upgrade_step_1.html" class="btn btn-default login-btn">Start free trial</a></li>
                <li data-index="10" class="feature-list">Auto-response builder</li>
                <li data-index="11" class="feature-list">Attach document in auto-response</li>
                <li data-index="12" class="feature-list">Artificial Intelligence to parse email content</li>
                <li data-index="13" class="feature-list">Own domain emails</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mobile-p-15 dashboard-pad plan_detail_section faq_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="plan_detail_box">
          <h2 class="text-center">Frequently asked questions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="faq-box">
          <h4>This is FAQ question</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <strong>sunt in culpa qui officia deserunt</strong> </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="faq-box">
          <h4>This is FAQ question</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <strong>sunt in culpa qui officia deserunt</strong> </p>
        </div>
      </div>
    </div>
  </div>
</section>
